
	<h3>
		{{ 'welcome' | translate }}
	</h3>

	<div ng-include src="'partials/message-include.html'"></div>
   		      
	<ul class="entity">
        <li><a href="#/tblAuthor">{{ 'TblAuthor' | translate }}</a></li>
        <li><a href="#/tblBook">{{ 'TblBook' | translate }}</a></li>
        <li><a href="#/tblBookAuthors">{{ 'TblBookAuthors' | translate }}</a></li>
        <li><a href="#/tblBookCopies">{{ 'TblBookCopies' | translate }}</a></li>
        <li><a href="#/tblBookGenres">{{ 'TblBookGenres' | translate }}</a></li>
        <li><a href="#/tblBookLoans">{{ 'TblBookLoans' | translate }}</a></li>
        <li><a href="#/tblBorrower">{{ 'TblBorrower' | translate }}</a></li>
        <li><a href="#/tblGenre">{{ 'TblGenre' | translate }}</a></li>
        <li><a href="#/tblLibraryBranch">{{ 'TblLibraryBranch' | translate }}</a></li>
        <li><a href="#/tblPublisher">{{ 'TblPublisher' | translate }}</a></li>
    </ul>
