		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'TblBookCopies' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'tblBookCopies.bookid' | translate }}</th>
						<th>{{ 'tblBookCopies.branchid' | translate }}</th>
						<th>{{ 'tblBookCopies.noofcopies' | translate }}</th>
						<th><a class="btn btn-info" href='#/tblBookCopies/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tblBookCopies in tblBookCopiess">
						<td>{{tblBookCopies.bookid}}</td>
						<td>{{tblBookCopies.branchid}}</td>
						<td>{{tblBookCopies.noofcopies | number }}</td>
						<td><a class="btn btn-info" href="#/tblBookCopies/{{tblBookCopies.bookid}}/{{tblBookCopies.branchid}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
